<!--###############################-->
<!--PRELOADER #####################-->
<!--###############################-->

<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>


<!--###############################-->
<!--HOME ##########################-->
<!--###############################-->

<section id="home">
<div class="container">
    <div class="row">
        <div id="homescreen" class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
             <div id="logo"><a href="#home"><img class="wabbit-logo" src="<%= asset_path('logo.png') %>" alt="logo"></a></div>
             <div id="slogan"><h1>Connect with the people you've crossed paths with</h1></div>
             <a href="#footer" class="cta1" id="button_more">Get on iOS</a>
             <a href="https://play.google.com/store/apps/details?id=com.wabbit.messenger" class="cta2" id="button_download" target="_blank">Get on Android</a>
             <div id="play-button">
               <a href="https://www.youtube.com/watch?v=Lgz7QzV5oJ0&autoplay=1" id="playvideo" class="hero-container__play-btn" target="_blank">Play video</a>
             </div>
        </div> <div class="clearfix"></div>
    </div>
</div>
<div id="video_pattern"></div>
<div id="video-fallback"></div>
<div id="video-container">
    <video autoplay loop class="fillWidth" width="100%">
        <source src="<%= asset_path('video.m4v') %>" type="video/m4v"/>
        <source src="<%= asset_path('video.mov') %>" type="video/mp4"/>
        <source src="<%= asset_path('video.ogg') %>" type="video/ogg"/>
        <source src="<%= asset_path('video.webm') %>" type="video/webm"/>
        Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
</div><!-- end video-container -->
</section>


<!--###############################-->
<!--Features 3 ####################-->
<!--###############################-->

<section id="features_3">
    <div class="container">
        <div class="row" id="features_3_intro">
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" >
                <h2>Free Android app</h2>
                <p>Connect with the one you locked eyes with earlier in the day and didn't get a chance to talk to.
                </p>
            </div>
        </div>

        <div class="row" >
            <div class="col-sm-4 col-md-4 ol-lg-4" id="features_3_content_left">

                <div class="feature">
                    <h4>You see someone in real life</h4>
                    <p>On public transportation, on campus, at a party or at the gym.
                    </p>
                </div>

                <div class="feature">
                    <h4>There's a spark</h4>
                    <p>When you make eye contact with a someone you like and you know that if you had talked to them there would be a connection.
                    </p>
                </div>

            </div>

            <div class="col-sm-4 col-md-4 ol-lg-4" id="features_3_content_center">
                <img src="<%= asset_path('around-me-screen.png') %>" class="img-responsive" id="features3_image" alt="img">
            </div>

            <div class="col-sm-4 col-md-4 ol-lg-4" id="features_3_content_right">

                <div class="feature">
                    <h4>You look them up on Wabbit</h4>
                    <p>Browse through the list of people in your close proximity until you find the one you wanted to talk to.
                    </p>
                </div>

                <div class="feature">
                    <h4>Say hi</h4>
                    <p>It’s how great stories start.
                    </p>
                </div>

            </div>

        </div>

    </div>
</section>

<!--Arrows - single arrow wersion-->
<section class="arrows_box">
    <div class="arrow_single">
        <svg viewBox="0 0 32 32" class="arrow_up" id="gallery_arrow_back">
            <use xlink:href="#left-arrow"></use></svg>
    </div>
</section>
<!--######-->


<!--###############################-->
<!--Newsletter and Footer #########-->
<!--###############################-->

<section id="footer">
    <div class="container">
        <div class="row" id="newsletter">
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" >

                <h2>Be the first to know</h2>
                <p>We'll slowly roll out the iOS version and create hotspots in more areas.
                </p>

                <div id="newsletter_form">
                    <%= form_for @user, :url => { :action => "create" } do |f| %>
                        <%= f.text_field :email, :placeholder => "Enter your e-mail address...", :class => "subscribe-input" %>
                        <button type="submit" class="subscribe-submit">Get access</button>
                    <% end %>
                </div>
                <div id="preview"></div>

            </div>
        </div>

       <div class="row">
           <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1" id="share">

               <div id="social_icons">
                   <ul>
                       <li><svg viewBox="0 0 32 32" id="fb_icon" onclick="location.href='https://facebook.com/wabbitmessenger'"><use xlink:href="#facebook"></use></svg></li>
                       <li><svg viewBox="0 0 32 32" id="tw_icon" onclick="location.href='https://twitter.com/wabbitapp''"><use xlink:href="#twitter"></use></svg></li>
                   </ul>
               </div>

               <p>Copyright &copy; 2014 Wabbit</p>

           </div>
       </div>

    </div>
</section>

<!-- ADD Switcher -->
<!-- END Switcher -->

<!-- JavaScript plugins comes here -->
<script src="<%= asset_path('jquery-2.0.3.min.js') %>"></script>
<script src="<%= asset_path('jquery.easing.min.js') %>"></script>
<script src="<%= asset_path('jquery.scrollTo.js') %>"></script>
<script src="<%= asset_path('jquery.form.js') %>"></script>
<script>
    // This is a manifest file that'll be compiled into application.js, which will include all the files
    // listed below.
    //
    // Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
    // or vendor/assets/javascripts of plugins, if any, can be referenced here using a relative path.
    //
    // It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
    // the compiled file.
    //
    // WARNING: THE FIRST BLANK LINE MARKS THE END OF WHAT'S TO BE PROCESSED, ANY BLANK LINE SHOULD
    // GO AFTER THE REQUIRES BELOW.
    //
    //= require jquery
    //= require jquery_ujs
    //= require_tree .
    (function($) {

        var App = {

        /**
        * Init Function
        */
        init: function() {
            App.HomeOpacity();
            App.ScrollToContact();
            App.ScrollBack();
            App.Preloader();
            App.Animations();
            App.Carousel();
            App.Lightbox();
            App.Scale_video();
            App.iosdetect();
            App.androiddetect();
        },


        HomeOpacity: function() {
            var h = window.innerHeight;
            $(window).on('scroll', function() {
                var st = $(this).scrollTop();
                $('#home').css('opacity', (1-st/h) );
            });
        },


        /**
        * Scroll To Contact
        */
        ScrollToContact: function() {
        $('#button_more').click(function () { $.scrollTo('#about',1000,{easing:'easeInOutExpo',offset:0,'axis':'y'});});
        $('#about_arrow_back').click(function () { $.scrollTo('0px',1000,{easing:'easeInOutExpo',offset:0,'axis':'y'});});
        $('#about_arrow_next').click(function () { $.scrollTo('#features_1',1000,{easing:'easeInOutExpo',offset:0,'axis':'y'});});
        $('#features_1_arrow_back').click(function () { $.scrollTo('#about',1000,{easing:'easeInOutExpo',offset:0,'axis':'y'});});
        $('#features_1_arrow_next').click(function () { $.scrollTo('#features_2',1000,{easing:'easeInOutExpo',offset:0,'axis':'y'});});
        $('#features_2_arrow_back').click(function () { $.scrollTo('#features_1',1000,{easing:'easeInOutExpo',offset:0,'axis':'y'});});
        $('#features_2_arrow_next').click(function () { $.scrollTo('#features_3',1000,{easing:'easeInOutExpo',offset:0,'axis':'y'});});
        $('#features_3_arrow_back').click(function () { $.scrollTo('#features_2',1000,{easing:'easeInOutExpo',offset:0,'axis':'y'});});
        $('#features_3_arrow_next').click(function () { $.scrollTo('#gallery',1000,{easing:'easeInOutExpo',offset:0,'axis':'y'});});
        $('#gallery_arrow_back').click(function () { $.scrollTo('0px',1000,{easing:'easeInOutExpo',offset:0,'axis':'y'});});
        },



        /**
        * Scroll Back
        */
        ScrollBack: function() {
            $('#arrow_back').click(function () {
                $.scrollTo('#home',1500,{easing:'easeInOutExpo',offset:0,'axis':'y'});
            });
        },


        /**
        * Preloader
        */
        Preloader: function() {
            $(window).load(function() {
                $('#status').delay(100).fadeOut('slow');
                $('#preloader').delay(500).fadeOut('slow');
                $('body').delay(500).css({'overflow':'visible'});
                setTimeout(function(){$('#logo').addClass('animated fadeInDown')},500);
                setTimeout(function(){$('#logo_header').addClass('animated fadeInDown')},600);
                setTimeout(function(){$('#slogan').addClass('animated fadeInDown')},700);
                setTimeout(function(){$('#home_image').addClass('animated fadeInUp')},900);
            })
        },


        /**
        * Animations
        */
        Animations: function() {
            $('#about').waypoint(function() {
                setTimeout(function(){$('#about_intro').addClass('animated fadeInDown')},0);
                setTimeout(function(){$('#service_1').addClass('animated fadeInDown')},300);
                setTimeout(function(){$('#service_2').addClass('animated fadeInDown')},500);
                setTimeout(function(){$('#service_3').addClass('animated fadeInDown')},700);
            }, { offset: '50%' });

            $('#features_1').waypoint(function() {
                setTimeout(function(){$('#features_1_content').addClass('animated fadeInDown')},0);
                setTimeout(function(){$('#features1a_image').addClass('animated fadeInRight')},1100);
                setTimeout(function(){$('#features1b_image').addClass('animated fadeInRight')},600);
            }, { offset: '50%' });

            $('#features_2').waypoint(function() {
                setTimeout(function(){$('#features_2_content').addClass('animated fadeInDown')},0);
                setTimeout(function(){$('#features2a_image').addClass('animated fadeInLeft')},1100);
                setTimeout(function(){$('#features2b_image').addClass('animated fadeInLeft')},600)
            }, { offset: '50%' });

            $('#features_3').waypoint(function() {
                setTimeout(function(){$('#features_3_intro').addClass('animated fadeInDown')},0);
                setTimeout(function(){$('#features_3_content_left, #features_3_content_right').addClass('animated fadeInUp')},700);
                setTimeout(function(){$('#features_3_content_center').addClass('animated fadeInDown')},600)
            }, { offset: '50%' });

            $('#gallery').waypoint(function() {
                setTimeout(function(){$('#gallery_intro').addClass('animated fadeInDown')},0);
                setTimeout(function(){$('#gallery_carousel').addClass('animated fadeInUp')},700)
            }, { offset: '50%' });

        },


        /**
        * Carousel
        */
        Carousel: function() {
            $('#owl-gallery').owlCarousel({
                items : 5,
                itemsDesktop : [1199,5],
                itemsDesktopSmall : [980,5],
                itemsTablet: [768,5],
                itemsTabletSmall: [550,2],
                itemsMobile : [480,2],
            });
        },

        /**
        * Nivo Lightbox
        */
        Lightbox: function() {
            $('#owl-gallery a').nivoLightbox({
                effect: 'fall',                             // The effect to use when showing the lightbox
            });
        },



        /**
        * Video background scaling
        */
        Scale_video: function() {
        var min_w = 300; // minimum video width allowed
        var vid_w_orig;  // original video dimensions
        var vid_h_orig;

        jQuery(function() { // runs after DOM has loaded

            vid_w_orig = parseInt(jQuery('video').attr('width'));
            vid_h_orig = parseInt(jQuery('video').attr('height'));


            jQuery(window).resize(function () { resizeToCover(); });
            jQuery(window).trigger('resize');
            });

        function resizeToCover() {

        // set the video viewport to the window size
        jQuery('#video-container').width(jQuery(window).width());
        jQuery('#video-container').height(jQuery(window).height());

        // use largest scale factor of horizontal/vertical
        var scale_h = jQuery(window).width() / vid_w_orig;
        var scale_v = jQuery(window).height() / vid_h_orig;
        var scale = scale_h > scale_v ? scale_h : scale_v;

        // don't allow scaled width < minimum video width
        if (scale * vid_w_orig < min_w) {scale = min_w / vid_w_orig;};

        // now scale the video
        jQuery('video').width(scale * vid_w_orig);
        jQuery('video').height(scale * vid_h_orig);
        // and center it by scrolling the video viewport
        jQuery('#video-container').scrollLeft((jQuery('video').width() - jQuery(window).width()) / 2);
        jQuery('#video-container').scrollTop((jQuery('video').height() - jQuery(window).height()) / 2);

        };

        },



        /**
        * iosdetect
        */
        iosdetect: function() {
        var deviceAgent = navigator.userAgent.toLowerCase();
        $iOS = deviceAgent.match(/(iphone|ipod|ipad)/);

        if ($iOS) {

        $('#video-container').css({'display':'none'});
        $('#video-fallback').css({'display':'block'});


        // use fancy CSS3 for hardware acceleration
        } else {


        // use standard things like jQuery.animate
        }
        },



        /**
        * androiddetect
        */
        androiddetect: function() {
        var ua = navigator.userAgent.toLowerCase();
        var isAndroid = ua.indexOf("android") > -1; //&& ua.indexOf("mobile");

        if(isAndroid) {

        $('#video-container').css({'display':'none'});
        $('#video-fallback').css({'display':'block'});


        // use fancy CSS3 for hardware acceleration
        } else {


        // use standard things like jQuery.animate
        }
        },




     }

    $(function() {
      App.init();
      });


    })(jQuery);

</script>
<script src="<%= asset_path('main.js') %>"></script>
<script src="<%= asset_path('retina.js') %>"></script>
<script src="<%= asset_path('waypoints.min.js') %>"></script>
<script src="<%= asset_path('owl.carousel.min.js') %>"></script>
<script src="<%= asset_path('nivo-lightbox.min.js') %>"></script>
<script type="text/javascript" src="<%= asset_path('/fancybox/lib/jquery.mousewheel-3.0.6.pack.js') %>"></script>
<link rel="stylesheet" href="<%= asset_path('/fancybox/source/jquery.fancybox.css?v=2.1.5') %>" type="text/css" media="screen" />
<script type="text/javascript" src="<%= asset_path('/fancybox/source/jquery.fancybox.pack.js?v=2.1.5') %>"></script>
<script type="text/javascript">
    $('document').ready(function(){
            $('#playvideo').fancybox({
                openEffect : 'none',
                closeEffect : 'none',
                prevEffect : 'none',
                nextEffect : 'none',
                arrows : false,
                helpers : {
                  media : {},
                  buttons : {}
                }
             });
            $('#subscribe-form').ajaxForm( {
            target: '#preview',
            success: function() {
                  $('#subscribe-form').slideUp('slow');
                  $('#preview').css({"opacity":"1"});
                }
            });
        });
</script>
<script>
    var url ="<%= asset_path('icons.svg') %>";
    var c=new XMLHttpRequest(); c.open('GET.html', url, false); c.setRequestHeader('Content-Type', 'text/xml'); c.send();
    document.body.insertBefore(c.responseXML.firstChild, document.body.firstChild)
</script>

<!-- Demo Switcher JS -->
<script type="text/javascript" src="<%= asset_path('fswit.js') %>"></script>
