<style>
/*######################################*/
/*RESET ################################*/
/*######################################*/

#main {
  text-align: center;
}
header {
	padding: 1rem 6rem;
	border-bottom: 3px solid #f0f0f0;
}

body {
	font-family: 'Oxygen', 'helvetica-neue', 'helvetica', 'arial', sans-serif;
	font-weight: 300;
	color: #535353;
	-webkit-font-smoothing: antialiased;
}

#header-logo{
	width: 250px;
}

.container {
	margin: 0 auto;
	max-width: 960px;
	padding-top: 107px;
}

.screenshot {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 458px;
}

.column-adjust-top-margin {
	margin-top: -8rem;
}

.container input {
	margin-bottom: 3rem;
}

.container textarea {
	margin-bottom: 3rem;
	height: 200px;
}

.social-media {
	margin-top: 4rem;
	padding: 4rem 0;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.share-btns img{
	/*margin: 0 1rem;*/
}

.share-btns a {
	text-decoration: none;
}

#footer {
	margin: 0 auto;
	padding: 0 21px;
	max-width: 960px;
	font-size: 21px;
	line-height: 21px;
	height: 21px;
}

#footer a {
	color: #2ecc71;
	text-decoration: none;
}

#footer .lhs {
	float: left;
}

#footer .rhs {
	float: right;
}

#footer-wrapper {
	background: #f3f3f4;
	margin-top: 60px;
	padding: 44px 0;
	color: #6d6d6d;
}

.btn {
	padding: 0;
	font-weight: 300;
}

.btn-success {
	background: #2ecc71;
}
.btn-success:hover {
	background: #26b864;
}

.button-inner {
	height: 46px;
	line-height: 46px;
	display: block;
	font-size: 18px;
	text-decoration: none;
	padding: 0px 80px 0px 79px;
}

.inbetween {
	height: 162px;
}

.inbetween-sm {
	height: 81px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oxygen', 'helvetica-neue', 'helvetica', 'arial', sans-serif;
}

h1 {
	font-weight: 300;
	font-size: 46px;
	padding: .5rem 0;
}

p {
	font-weight: 300;
	font-size: 30px;
	line-height: 1.5;
	padding: .5rem 0;
}

.referral {
	font-size: 27px;
}

.user-table {
	width: 100%;
}
.user-table thead tr {
	background-color: #dddddd;
}
.user-table tbody tr:nth-child(even) {
	background-color: #eeeeee;
}

/* MOBILE STYLES */
@media screen and (max-width: 767px)
{
	.home h1 {
		text-align: center;
	}

	.column-adjust-top-margin {
		margin-top: 0;
	}

	.inbetween {
		height: 80px;
	}

	.inbetween-sm {
		height: 40px;
	}
}



</style>
<div id="main">
    <div class="container text-center">

        	<p class="referral">You are #<%= @count %> on our waiting list.</p>

        	<h1>Want to cut in line and get priority access to Wabbit on iOS?</h1>

        	<br>
        	<p class="referral">Get 5 of your friends to sign up with this unique URL:</p>
        	<br>
        	<p><b><%= root_url %>?ref=<%= @user.referral_code %></b></p>
        	<br>

        	<div class="row">
          		<div class="col-md-6 col-md-offset-3 text-center share-btns">
                	<a href="http://www.facebook.com/share.php?u=<%= root_url %>?ref=<%= @user.referral_code %>;title=Can't wait for #Wabbit, which connects you with people you've crossed paths with!. Now accepting beta users on iOS." target="_blank">
                		<img src="<%= asset_path('shareon.png') %>">
                	</a>
                	<a href="http://twitter.com/home?status=Can't wait for @wabbitapp, which connects you with people you've crossed paths with! Sign up for the iOS beta now: +<%= root_url %>?ref=<%= @user.referral_code %>" target="_blank">
                		<img src="<%= asset_path('tweeton.png') %>">
                	</a>
              </div>
          </div>
      	  <p style="margin-top: 1rem;">So far, you have <b><%= @user.referrals.count %></b> referrals.</p>
          <p class="referral" style="margin-top: 1rem;">The more friends that join, the sooner you'll get access.</p>

    </div>
</div>
